<nav>
  <a *ngFor="let template of templates">
    <button class="btn btn-primary" (click)="loadtemplate(template)">  {{template.book_dimension_template}}</button>
  </a>
</nav>

<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" novalidate>
  <div style="margin-bottom: 1em">
    <button type="submit" [disabled]="bookForm.pristine" class="btn btn-success">Save</button> &nbsp;
    <button type="reset" (click)="revert()" [disabled]="bookForm.pristine" class="btn btn-danger">Revert</button>
  </div>

  <div class="form-group">
    <label class="center-block">Name:
        <input class="form-control" formControlName="book_dimension_template">
      </label>
  </div>

  <div class="form-group">
    <label>Book Dimension</label>
    <div class="form-group col-xs-8" formGroupName="book_dimension">
      <label>page_width</label>
      <input type="text" class="form-control" formControlName="page_width">
      <small *ngIf="!bookForm.controls.book_dimension.controls.page_width.valid" class="text-danger">
     Required
    </small>
    </div>
    <div class="form-group col-xs-8" formGroupName="book_dimension">
      <label>page_heigth</label>
      <input type="text" class="form-control" formControlName="page_heigth">
      <small *ngIf="!bookForm.controls.book_dimension.controls.page_heigth.valid" class="text-danger">
     Required
    </small>
    </div>
  </div>


  <div formGroupName="language_font">
    



  </div>




</form>
