<div>

  <button *ngIf="data; else elseBlock" >

    <div aria-label="My icon" [inlineSVG]="'/assets/img/loading_icon.svg'"></div>
    <a href="{{data.pdf_file}}"> download</a>
  </button>
  <ng-template #elseBlock>
    <form (ngSubmit)="saveit()" >
    Upload the file
    <input name='doc' type="file" [multiple]="multiple" #fileInput>

    <div class="clearfix"></div>
    <div class="col-xs-8">
      <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </div>
  </form>
  </ng-template>

</div>
