.a {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.b {
  display: table-cell;
  vertical-align: middle;
}

.c {
  margin-left: auto;
  margin-right: auto;
  height: 1000px; /* Your size in px, else it will expand to your screen size!*/
  width: 1000px; /* Your size in px, else it will expand to your screen size!*/
}
