<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Basic Information</h4>
      </div>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
        <div class="form-group">
          <label>Book Title</label>
          <input type="text" class="form-control" formControlName="title">
          <small *ngIf="!myForm.controls.title.valid && myForm.controls.title.touched" class="text-danger">
            Required.
          </small>
        </div>

        <div class="form-group">
          <label>Book Author</label>
          <input type="text" class="form-control" formControlName="author">
          <small *ngIf="!myForm.controls.author.valid && myForm.controls.author.touched" class="text-danger">
            Required.
          </small>
        </div>

        <div class="form-group">
          <label>Book Series</label>
          <input type="text" class="form-control" formControlName="series">
          <small *ngIf="!myForm.controls.series.valid && myForm.controls.series.touched" class="text-danger">
            Required.
          </small>
        </div>

        <div class="form-group">
          <label>Book Edition</label>
          <input type="text" class="form-control" formControlName="edition">
          <small *ngIf="!myForm.controls.edition.valid && myForm.controls.edition.touched" class="text-danger">
            Required.
          </small>
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" formControlName="description">
          <small *ngIf="!myForm.controls.description.valid && myForm.controls.description.touched" class="text-danger">
            Required.
          </small>
        </div>

        <div class="form-group">
          <label>Book keywords</label>
          <input type="text" class="form-control" formControlName="keywords">
          <small *ngIf="!myForm.controls.keywords.valid && myForm.controls.keywords.touched" class="text-danger">
            Required.
          </small>
        </div>

        <div class="form-group">
          <label>Book Reading age</label>
          <input type="text" class="form-control" formControlName="reading_age">
          <small *ngIf="!myForm.controls.reading_age.valid && myForm.controls.reading_age.touched" class="text-danger">
            Required.
          </small>
        </div>

        <div class="form-group">
          <label>Genre</label>
          <input type="text" class="form-control" formControlName="genre">
          <small *ngIf="!myForm.controls.genre.valid && myForm.controls.genre.touched" class="text-danger">
            Required.
          </small>
        </div>

        <div class="form-group">
          <label>Publishing rights</label>
          <input type="text" class="form-control" formControlName="publishing_rights">
          <small *ngIf="!myForm.controls.publishing_rights.valid && myForm.controls.publishing_rights.touched" class="text-danger">
            Required.
          </small>
        </div>


        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

        <div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div>

      </form>
    </div>
  </div>
</div>
