<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Basic Information</h4>
      </div>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
        <div class="form-group">
          <label>Book Title</label>
          <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="form-group">
          <label>Language Details</label>
        </div>
        <div formGroupName="languageSelector">

          <div class="row">
            <div class="col-xs-6">
              <button type="button" (click)="setLanguageSelectorMethodType(LANGUAGE_OPTIONS.ENGLISH)"
                class="btn btn-block text-capitalize"
                [class.btn-default]="myForm.controls.languageSelector.controls.type.value !== LANGUAGE_OPTIONS.ENGLISH"
                [class.btn-primary]="myForm.controls.languageSelector.controls.type.value === LANGUAGE_OPTIONS.ENGLISH">
                {{ LANGUAGE_OPTIONS.ENGLISH }}
              </button>
            </div>
            <div class="col-xs-6">
              <button type="button" (click)="setLanguageSelectorMethodType(LANGUAGE_OPTIONS.HINDI)"
                class="btn btn-block text-capitalize"
                [class.btn-default]="myForm.controls.languageSelector.controls.type.value !== LANGUAGE_OPTIONS.HINDI"
                [class.btn-primary]="myForm.controls.languageSelector.controls.type.value === LANGUAGE_OPTIONS.HINDI">
                {{ LANGUAGE_OPTIONS.HINDI }}
              </button>
            </div>
            <div class="col-xs-6">
              <button type="button" (click)="setLanguageSelectorMethodType(LANGUAGE_OPTIONS.ORIYA)"
                class="btn btn-block text-capitalize"
                [class.btn-default]="myForm.controls.languageSelector.controls.type.value !== LANGUAGE_OPTIONS.ORIYA"
                [class.btn-primary]="myForm.controls.languageSelector.controls.type.value === LANGUAGE_OPTIONS.ORIYA">
                {{ LANGUAGE_OPTIONS.ORIYA }}
              </button>
            </div>
          </div>

          <div class="panel panel-default margin-20"
            *ngIf="myForm.controls.languageSelector.controls.type.value === LANGUAGE_OPTIONS.ENGLISH">
            <div class="panel-body">
              <div class="form-group col-xs-8" formGroupName="english">
                <label>English Font</label>
                <input type="text" class="form-control" formControlName="english_font">
                <small *ngIf="!myForm.controls.languageSelector.controls.english.controls.english_font.valid"
                  class="text-danger">
                 Required.
                </small>
              </div>

            </div>
          </div>
          <div class="panel panel-default margin-20"
            *ngIf="myForm.controls.languageSelector.controls.type.value === LANGUAGE_OPTIONS.HINDI">
            <div class="panel-body">
              <div class="form-group col-xs-8" formGroupName="hindi">
                <label>English Font</label>
                <input type="text" class="form-control" formControlName="english_font">
                <small *ngIf="!myForm.controls.languageSelector.controls.hindi.controls.english_font.valid"
                  class="text-danger">
                 Required
                </small>
              </div>
              <div class="form-group col-xs-8" formGroupName="hindi">
                <label>Hindi Font</label>
                <input type="text" class="form-control" formControlName="hindi_font">
                <small *ngIf="!myForm.controls.languageSelector.controls.hindi.controls.hindi_font.valid"
                  class="text-danger">
                 Required
                </small>
              </div>

            </div>
          </div>

          <div class="panel panel-default margin-20"
            *ngIf="myForm.controls.languageSelector.controls.type.value === LANGUAGE_OPTIONS.ORIYA">
            <div class="panel-body">
              <div class="form-group col-xs-8" formGroupName="oriya">
                <label>English Font</label>
                <input type="text" class="form-control" formControlName="english_font">
                <small *ngIf="!myForm.controls.languageSelector.controls.oriya.controls.english_font.valid"
                  class="text-danger">
                 Required

                </small>
              </div>
              <div class="form-group col-xs-8" formGroupName="oriya">
                <label>Hindi Font</label>
                <input type="text" class="form-control" formControlName="oriya_font">
                <small *ngIf="!myForm.controls.languageSelector.controls.oriya.controls.oriya_font.valid"
                  class="text-danger">
                 Required
                </small>
              </div>

            </div>
          </div>
        </div>

        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

        <div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
          <pre>form value: <br>{{myForm.value | json}}</pre>
        </div>
      </form>
    </div>
  </div>
</div>
